.hidden-block{position:absolute;left:-99999em;top:-99999em;}
/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;background:#fff;position:relative; font-family: 'Roboto'; font-size: 18px; font-weight: 400; line-height: 1.5; color: #000000;}
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1080px;width:100%; padding:0 20px;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}
.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('Roboto', 'Roboto-Regular', 400);
@include font-face('Roboto', 'Roboto-Bold', 700);
@include font-face('RobotoSlab', 'RobotoSlab-Regular', 400);
@include font-face('RobotoSlab', 'RobotoSlab-Bold', 700);
p{ margin: 5px 0;}
b{ font-family:'RobotoSlab'; font-weight:700;}
h1,h2,h3,h4,h5,h6{ font-family:'RobotoSlab'; font-weight:700; margin: 0.5em 0;  color: #000;
    &.orange{color: #FBAF33;}
    &.white{color: #fff;}
}
h1,h2{font-size: 64px; }
h3{ font-size: 50px;}
h4{ font-size: 48px;}
h5{font-size: 48px;}
h6{ font-size: 36px;}
ul{list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); list-style-type: none; margin: 0; padding: 0;}
.social-button{ display: inline-flex; justify-content: center; align-items: center; margin: 0 12px;
    &:hover svg{fill: #fbaf33;}
    svg{fill:#000;}
    &--white svg{fill:#fff;}
}
.btn{font-family: 'RobotoSlab'; font-weight: 700; font-size: 14px;color: #000000; border: none; background: none; padding: 0; margin: 0; text-decoration: none; display: inline-block;
    span{ border: 2px solid #FBAF33; border-radius: 4px; min-width: 80px;  height: 50px; display: inline-flex; justify-content: center; align-items: center; padding: 10px 23px; background-color: #fff; transition: all 200ms;}
    &:hover span{ background-color: #fbaf33; color: #000000;}
    &--fill{
        span{ background-color: #fbaf33; border-color: #fbaf33;}
        &:hover span{ background-color: #ff9e00; border-color: #ff9e00;}
    }
}
img.shadow{box-shadow: 5px 5px 0 0 #FBAF33;}
img.shadow--big{box-shadow: 10px 10px 0 0 #FBAF33;}
a{color: #000; text-decoration: none;}
a:hover{ color: #fbaf33;}
.paginator{ display: flex; justify-content: flex-start; align-items: center; position: relative; flex-wrap: wrap;
    &:before{content: ''; width: 100%; height: 1px; background-color: #E5E5E5; position: absolute;left: 0; top: 0; z-index: -1;}
    a{ border-top: 1px solid #E5E5E5; width: 50px; display: flex; justify-content: center; align-items: flex-end; height: 36px; color: #fbaf33; font-size: 14px; margin-bottom: 18px;
        &:hover{border-color: #000; color: #000;}
    }
    .active a{border-color: #000; color: #000;}
}
/*/fonts*/
.main{  margin-top: -66px;}
/*A*/
.about{
    &__wrap{ }
    &__item{ width: 320px; padding: 0 20px 7px; min-height: 300px;}
    &__txt{ padding-top: 13px;
        h3{ text-align: left; margin: 0; line-height: 1;}
        b{ margin: 0; font-family:"RobotoSlab"; font-weight:700; font-size: 18px;}
        p{ margin: 5px 0; font-size: 14px; opacity: 0.7;}
    }
    &__img{ height: 88px; width: 100%; display: flex; justify-content: flex-start; align-items: flex-end;}
    .slick-dots{ width: 100%; left: auto; right: 0; justify-content: center; top: auto; bottom: 0;
        li{
            &.slick-active,
            &:hover{ background-color: #000;}
        }
    }
}
.another{ margin-top: 129px;
    &__slide-wrap{ position: relative;
        &:before{ width: 100%; content: ''; position: absolute; background-color: #fff; height: 96px; right: calc(50% + 137px); bottom: 0; transform: skew(39deg);}
    }
    &__text{ width: 100%; position: absolute; left: 0; top: 0; }
    &__info{ color: #fff; width: 50%; margin-left: 50%; padding-top: 34px;
        p{ font-size: 14px;}
        h6{ font-size: 36px; color: #fff; text-align: left; margin: 0 0 16px;}
        .btn { margin-top: 35px;
            span { background-color: transparent; color: #fff; }
            &:hover span{    background-color: #fbaf33;
                color: #000000;}
        }
    }
    &__slide-bg{ width: 100%; height: 478px;
        img{ width: 100%; height: 100%; object-fit: cover;}
    }
    .slick-dots{ top: auto; bottom: 62px; width: 50%; right: 0; left: auto;
        li button{ width: 60px;}
    }
    .slick-arrow{ top: 37%;}
}
/*B*/
.breadcrumbs{font-size: 11px; padding-top: 96px;
    a{ color: #FBAF33;
        &:hover{ color: #000;}
    }
}
.blog{padding: 0 0 72px;
    &__filter{display: flex;justify-content: flex-start; align-items: flex-start;flex-wrap: wrap; margin-bottom: 40px;
        a{ font-size: 14px; line-height: normal; color: #fbaf33; margin: 0 auto;
            &:hover, &.active{  color: #000; }
            &:first-child{margin-left: 0;}
        }
    }
    &__item{padding: 0 25px; width: 100%; margin-bottom: 55px;
        h6{font-size: 24px; line-height: 1.13; margin: 0.5em 0 0.7em;}
        p{opacity: 0.7; line-height: 1.33;}
        &--big{padding: 0 0 43px; margin-bottom: 0;
            h6{font-size: 36px;margin: 0.9em 0 0.4em;}
            p{line-height: 1.5;}
        }
        a{    color: #fbaf33;  font-size: 14px; font-weight: 700; font-family: 'RobotoSlab';  display: block;  margin-top: 38px;}
    }
    &__img{min-height: 248px;padding-bottom: 10px;}
    &__row{margin: 0 -25px; display: flex; justify-content: flex-start; align-items: stretch;}
    &__date{opacity: 0.5;  font-family: 'RobotoSlab'; font-size: 14px; font-weight: 700; line-height: 1.93; margin: 0; padding-bottom: 12px;}
}
.blogpost{
    &__img{margin-bottom: 56px;}
    &__post{
        p{opacity: 0.7; font-size: 14px; margin: 21px 0;}
        a{color: #FBAF33;
            &:hover{color: #000;}
        }
        h6{font-size: 18px; opacity: 0.78;}
    }
    &__pb{padding-bottom: 30px;}
    &__pt{padding-top: 54px; padding-bottom: 58px;}
    &__video{ padding: 0 0 56%; width: 100%; position: relative; margin-top: 60px;
        iframe{width: 100%; height: 100%; position: absolute;left: 0;top: 0;bottom: 0;right: 0;}
    }
}
blockquote.blockquote{position: relative; width: 100%; margin: 47px 0 45px; padding-top: 20px;
    p{opacity: 0.7; line-height: 1.33; font-family: 'RobotoSlab'; font-weight: 400; font-size: 18px; margin: 0 0 0;}
    span{opacity: 0.7; line-height: 1.5; font-family: 'RobotoSlab'; font-weight: 700; text-align: right; display: block; font-size: 14px;}
    .leftqoute{position: absolute; right: 102%; top: calc(50% - 52px);}
    .rightqoute{position: absolute; left: 102%; top: calc(50% - 52px);}
}

/*C*/
.contacts{ padding-bottom: 79px;
    &__row{ display: flex; justify-content: space-around; align-items: flex-start; margin: 0 -25px;}
    &__col{ width: 50%; padding: 0 25px;
        &--to-hide{
            .contacts__item h6{ margin-bottom: 25px;}
        }
    }
    &__item{ padding-bottom: 14px;
        h6{ font-size: 24px; margin: 0 0 11px;}
    }

}
/*H*/
header{background-color: #323232; position: relative; z-index: 3333; width: 100%;
    .mbox{ padding: 0; max-width: 100%;}
    &.main-page{ background-color: transparent;}
    &.fixed{position: fixed; left: 0; top: 0; background-color: #323232; animation-name: atata; animation-duration: 200ms; animation-fill-mode: forwards; }
    @keyframes atata {
        from{ top: -100%;}
        to{ top: 0;}
    }
}
.header{max-width: 1440px; padding: 0 40px; margin: 0 auto; display: flex; justify-content: space-between; align-items: stretch;  height: 66px;
    &__butt{ margin: 0 20px; flex-shrink: 0; line-height:0;
        svg{fill:#fbaf33;}
        &:hover svg{fill:#ffffff;}
    }
    &__left{ display: flex; justify-content: flex-start; align-items: center;}
    &__logo{ width: 105px; padding-right: 20px; flex-shrink: 0; padding-top: 4px;}
    &__buttons{ display: flex; justify-content:flex-end; align-items: center;
        .btn{ margin-left: 20px; flex-shrink: 0; span{ padding: 10px 18px;}}
    }
    &__mobile{ position: fixed;  width: 100%; background-color: #fbaf33; right: 0; top: 0; z-index: 9999;
        &.media--mobile{display: none;}
    }
}
.hmob{padding: 0 75px 7px 100px;
    &__logo{}
    &__close{ padding: 8px;}
    &__top{ display: flex; justify-content: space-between; align-items: flex-start; padding-top: 20px;}
    a.button{width: 280px;  height: 50px;  border-radius: 4px; background-color: #fbc633;font-family: RobotoSlab; font-size: 14px;  font-weight: 700; display: block; display: flex; justify-content: space-between; align-items: center; padding: 0 20px; margin-bottom: 106px;
        &:after{ content: ''; width: 14px; height: 14px; border-top:2px solid #000; border-right:2px solid #000; transform: rotate(45deg);}
    }
    &__nav{ width: 280px; padding: 44px 20px 17px;
        li{ margin-bottom: 19px;}
        a{ font-family: 'RobotoSlab'; font-size: 24px; font-weight: 700; color: #fff; line-height: 1.2; }
    }
    &__links{ display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column;padding: 0 20px;
        a{ font-size: 14px; font-family:'RobotoSlab'; font-weight: 700; margin-bottom: 18px;}
    }
    &__socials{  width: 100%; display: flex; justify-content: flex-start; align-items: center; margin: 0 -16px 18px; padding: 19px 20px;
        li{ display: flex; justify-content: center; align-items: center;}
    }
}
/*i*/
.info{ padding-top: 43px;
    &__title{ display: flex; justify-content: space-between; align-items: center; padding-bottom: 4px;
        h2{ margin: 0; text-align: left;}
    }
    &__img{ width: 230px; height: 230px; border-radius: 50%; overflow: hidden;  margin-right: 90px; flex-shrink: 0; margin-left: 20px;
        img{ width: 100%; height: 100%; object-fit: cover;}
    }
    &__item{ width: 320px; padding: 0 20px 8px; min-height: 230px;}
    &__item-img{ height: 100px; display: flex; justify-content: flex-start; align-items: flex-end; margin-bottom: 12px;}
    &__item-txt{
        p{opacity: 0.7; font-size: 14px;}
    }
    .slick-dots{ width: 100%; left: auto; right: 0; justify-content: center; top: auto; bottom: 0;
        li{
            &.slick-active,
            &:hover{ background-color: #000;}
        }
    }
}
/*F*/
.fancybox-close-small{
    &:after,
    &:before{ content: ''; width: 24px;  height: 2px;  transform: rotate(-45deg);   background-color: #fbaf33; display: block; position: absolute; top: 46%; right:10px; left: auto; bottom:auto; border-radius: 0; border:none; padding: 0;}
        &:after{    transform: rotate(45deg);}
    }
.footer{  overflow: hidden;
    &__wrap{ display: flex; justify-content: space-between; align-items: stretch;}
    &__left{display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; padding: 42px 79px 0 0; position: relative;  background-color: #FBAF33; width: 666px;
        &:after{ content: ''; background-color: #FBAF33; width: 100%; height: 100%; position: absolute; right: 100%; top: 0; z-index: -1;}
        &:before{ content: ''; width: 0; height: 0; border-width: 260px 210px; border-style: solid; border-color:  transparent; border-left-color: #FBAF33; border-bottom-color: #FBAF33; position: absolute; left: 100%; top: 0;  z-index:-1;}
    }
    &__links{ margin-bottom: 12px;
        a{ font-size: 14px; font-family:'RobotoSlab'; font-weight: 700; margin-right: 17px;
            &:hover{ color: #fff;}
        }
    }
    &__text{ font-size: 11px; color: #fff;}
    &__right{ flex-shrink: 0; width: 290px;position: relative; display: flex; justify-content: flex-start; align-items: flex-end; flex-direction: column; height: 211px; padding-top: 94px;

        p{ font-size: 10px;}
    }
    &__socials{ position: relative; z-index: 100; width: 100%; display: flex; justify-content: flex-end; align-items: center; margin: 0 -16px 18px;
        li{ display: flex; justify-content: center; align-items: center;}

    }

}
.form{
    &__input{ width: 100%; flex-grow: 1; margin: 0 5px;
        p{opacity: 0.5;  font-family: 'RobotoSlab';  font-size: 14px; font-weight: 700; line-height: 1; margin: 0 0 8px;}
        input{width: 100%; height: 50px;   border-radius: 4px;  border: solid 1px rgba(0,0,0,0.1); padding:0 20px; background-color: transparent;}
        textarea{width: 100%; height: 150px;  border-radius: 4px;  border: solid 1px rgba(0,0,0,0.1); resize: none; padding:10px 20px;background-color: transparent;}
    }
}
.form-vis{ background-color: rgba(0,0,0,0.03); padding: 52px 0 79px;
    &__title{ padding-bottom: 26px;
        h6{ font-size: 24px; }
    }
    &__text{ padding-bottom: 35px;
        h6{ margin-top: 43px; margin-bottom: 10px;}
    }
    &--white{ background-color: #fff;}
    &__wrap{ width: 100%; max-width: 600px; }
    &__row{display: flex; justify-content: space-between; align-items: flex-start; margin: 0 -5px 30px;
        .btn span{min-width: 266px;}
    }
    &__info{opacity: 0.5;  font-size: 14px;  line-height: 1.36; }
}
.format{
    p{opacity: 0.7; font-size: 14px; color: #000;}
    ul{opacity: 0.7; font-size: 14px; color: #000; margin: 20px 0 27px;}
    li{ margin-bottom: 8px;}
    &__table{ text-align: left; margin: 48px 0 73px; overflow-x: auto;
        tr{opacity: 0.7; font-size: 14px; line-height: 1.21;
            &:first-child{ font-family:'RobotoSlab'; font-weight: 700; opacity: 1;}
            &:not(:first-child){ border-bottom:2px solid #CBCBCB;}
        }
        &--with-seconnd-title{
            tr:nth-child(2){ opacity: 1;}
        }
        th{ padding: 16px 10px;}
        td{ padding: 11px 10px;}
    }
}
/*M*/
#map{ width: 100%; height: 600px;}
.media--mobile{ display: none;}
/*N*/
.nav{ padding-bottom: 4px;
    ul{ display: flex; justify-content: flex-start; align-items: center;}
    a{font-size: 14px; color: #fff; position: relative; margin: 0 20px; white-space: nowrap;
        &:before{ position: absolute; left: 0; top:calc(100% + 5px); content: ''; height: 3px; background-color: #FBAF33; width: 100%; opacity: 0; transition: opacity 200ms;}
        &.active:before,
        &:hover:before{ opacity: 1;}
    }
}
.newblog{ margin-top: 52px; padding-bottom: 80px;
    &__title{
        h6{ margin: 0; text-align: left;}
    }
    &__img{ width: 30%;}
    &__txt{ width: 70%; padding: 50px 68px 0 0;
        h6{ margin: 0 0 16px; text-align: left;font-size: 24px; font-weight: 700; line-height: 1.13;}
        p{opacity: 0.7;}
        &>a{ color: #fbaf33; font-size: 14px; font-weight: 700;  font-family: 'RobotoSlab'; display: block; margin-top: 38px;
            &:hover{color: #000;}
        }
    }
    &__content{ display: flex; justify-content: space-between; align-items: flex-start; padding-top: 22px;}
    &__date{opacity: 0.5;  font-family: 'RobotoSlab'; font-size: 14px; font-weight: 700; line-height: 1.93; margin: 0; padding-bottom: 12px;}
}
/*O*/
.oh-wraper{overflow: hidden;}
.other{background-color: rgba(0,0,0,0.03); padding-top: 21px;
    h4{font-size: 36px; margin: 48px 0;}
    .blog__img{margin-bottom: 19px;}
}
/*P*/
.partners{ padding-bottom: 60px;
    &__row{ display: flex; justify-content: flex-start; align-items: stretch; margin: 0 -25px;}
    &__item{ width: 50%; padding: 0 25px 36px;
        h6{ font-size: 24px; line-height: 1.13; margin: 0 0 15px;}
        p{ opacity: 0.7; font-size: 14px;}
    }
    &__slider{background-color: rgba(0,0,0,0.03); padding: 82px 0 25px;}
    &__slider-wrap{}
    &__slider-item{
        a{ display: inline-flex; height: 112px; justify-content: center; align-items: center; width: 100%; margin-bottom: 27px;}
    }
}
.popup{max-width: 495px; width: 100%; box-shadow: 5px 5px 0 0 #FBAF33; padding: 0;
    &__wrap{ width: 100%; padding: 50px 60px;}
    &__title{font-size: 24px; color: #fbaf33; padding-bottom: 24px;}
    &__row{ display: flex; justify-content: space-between; align-items: flex-start; margin: 0 -5px 30px;}
    &__info{  opacity: 0.5;  font-size: 14px;  line-height: 1.36; }
    &__capcha{ margin-bottom: 22px; margin-top: -13px;}
    &__butt{ margin-bottom: 12px;}
}
.preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255,255,255,.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &.hide {
        display: none;
    }

    &__img {
        max-width: 90px;
        width: 100%;
    }
}
.productlist{
    &>p{ opacity: 0.7;  font-size: 14px;}
    &__content{ margin: 65px -30px; display: flex; justify-content: flex-start; align-items: stretch; flex-wrap: wrap; }
    &__item{ width: 50%; padding: 0 30px 57px; display: block; }
    &__img{ width: 100%; margin-bottom: 17px; height: 250px;
        img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__txt{ width: 100%; font-size: 24px;}
}
.p404{ width: 100%; margin-bottom: -60px; height:calc(100vh - 155px); margin-top: -66px; position: relative; display: flex; justify-content: center; align-items: center;
    &__bg{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0;
        img{ width: 100%; height: 100%; object-fit: cover;}
    }
    &__text{ position: relative; z-index: 10;
        h5{ margin-bottom: 12px; margin-top: 0;}
        p{ color: #fff;}
        .btn{ margin-top: 33px;span{ background-color:transparent; color: #fff;}}
    }
}
.pdf-link{display: flex; justify-content: flex-start;align-items: center;
    i{margin-left: 16px;}
}
.ppth{padding-top: 66px;}
/*S*/
.slider-big{  overflow: hidden; padding-bottom: 76px;
    &__slide-wrap{ position: relative;}
    &__slide-text{ width: 100%; padding-top: 290px;}
    &__text{ padding-right: 22px; padding-top: 56px; width: calc(100% - 368px); background-color: #fff; position: relative; min-height: 250px;
        h6{ font-size: 24px; margin: 0;}
        p{margin: 18px 0;}
        .btn{ margin-top: 21px;}
        &:after{ content: ''; width: 0; height: 0; border-width: 260px 210px; border-style: solid; border-color:  transparent; border-left-color: #fff; border-bottom-color: #fff; position: absolute; left: 100%; top: 0;  }
        &:before{ width: 200%; content: ''; position: absolute; background-color: #fff; height: 100%; right: 100%; top: 0;}
    }
    &__slide-bg{ width: 100%; height: 550px; position: absolute; left: 0; top: 0;
        img{ width: 100%; height: 100%; object-fit: cover;}
    }
}
.slick-dots{ top: 487px; width: 230px; bottom:auto;left: calc(50% + 398px); display: inline-flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;
    li{ width: auto; height: auto; background-color: #FBAF33; margin: 3px;
        button{ opacity: 0; padding: 0; width: 20px; height: 3px; font-size:1px;}
        &.slick-active,
        &:hover{ background-color: #fff;}
    }
}
.slick-prev{ left:calc(50% - 671px); display: none; opacity: 0; pointer-events: none;
    svg{transform:scaleX(-1);}
}
.slick-next{ right:calc(50% - 671px);}
.slick-arrow{ font-size:inherit; width: auto; height: auto; z-index: 100; top: 325px;
    &:before{ display: none; }
    svg{fill: #fbaf33;}
    &.slick-disabled{ opacity: 0;}
}
.slider{ position: relative; margin-top: 222px;
    &:before{ content: ''; background-image: url(../images/comb.png); width: 696px; height: 494px; position: absolute; left: -200px; top: -166px;}
    &__item-wrap{ display: flex; justify-content: space-between; align-items: center;}
    &__img{ width: 50%; padding:0 51px;}
    &__txt { width: 50%; padding-left: 50px; padding-right: 11px;
        h6 { font-size: 24px; line-height: 1.2; text-align: left; margin: 0 0 16px; }
        p{ font-size: 14px; margin: 0;}
    }
    &__price-wrap{font-weight: 700; font-family:'RobotoSlab'; display: flex; justify-content:space-between; align-items: flex-start; padding-top: 37px;}
    &__price{font-size: 64px; line-height: 1; text-align: left; color: #fbaf33;}
    &__oldprice{font-size: 30px; padding: 16px 21px 0; position: relative;
        &:before{ content: ''; width: 100%; height: 4px; background-color: #fbaf33; position: absolute; transform: translate(-50%, -50%) rotate(-15deg); left: 50%; top: 46%;}
        p{ font-size: 18px; line-height:0.4;}
    }
    .slick-arrow{ top: 50%;}
    &--three{ margin-top: 170px; margin-bottom: 81px;
        &:before{ left: 0;}
        .slick-dots {  position: absolute;  bottom: -45px;  list-style: none; display: block;  text-align: center;  padding: 0;  width: 100%; right: auto; top: auto; left: auto; line-height: 0;
            li{
                button{ width: 60px;}
                &.slick-active, &:hover { background-color: #000; }
            }
        }
        .slider__item{ padding-bottom: 5px; margin: 0 10px;
            img{ margin: 0 auto;}
        }
        .mbox { padding: 0 38px; }
    }
}

input.error {
    border-color: #D70C17;
}
/*T*/
.thin-content{ width: 100%; padding: 0 120px;}
.title{
    h4{   margin: 0.67em 0 0.7em;}
}
@media screen and (max-width: 1380px){
    .slick-prev{ left:50px}
    .slick-next{ right:50px;}
    .slick-dots{ left: auto; right: 5px;}
    .slider .slick-prev{ left: calc(50% - 589px);}
    .slider .slick-next { right: calc(50% - 589px); }
    .slider--three:before { left: -200px; }
}
@media screen and (max-width: 1260px){
    .nav a{ margin: 0 8px;}
    .header{ padding: 0 20px;
        &__butt{ margin: 0 10px;}
    }
}
@media screen and (max-width: 1200px){
    .slider{
        .slick-prev{ left: -20px;}
        .slick-next { right: 0; }
        &__txt{ padding-right:50px;}
        &--three{
            .slick-next { opacity: 0; }
        }
    }
    .another {  margin-top: 49px;
        &__slide-bg{ height: 522px;}
        &__info{ padding-top: 78px; padding-right: 50px;}
        .slick-arrow { top: 42%;  }
    }
    .slick-prev{ left:20px}
    .slick-next{ right:20px;}
    .slider-big__text{width: calc(100% - 405px); padding-right: 0;}
    .partners__item{ padding-bottom: 26px;}
    .blog__img{min-height: 232px;}
    .blog__item{margin-bottom: 42px;}
}
@media screen and (max-width: 1024px){
    header .mbox{ max-width: 1080px; padding: 0 120px;}
    .media--mobile{ display: block;}
    .media--desktop{ display: none;}

    .slider-big{
        &__text{width: calc(100% - 445px); padding-right: 0;
            &:after {  border-width: 260px 179px;}
        }
    }
    .header {  padding: 0 1px 0 20px;
        &__butt { margin: 0 20px;  }
    }
    .slider{ margin-top: 183px;
        &__img{ padding: 0; width: 46%;}
        &:before { height: 123px; background-repeat-x: repeat; left: -252px; }
        &__txt { padding-left: 6px; width: 54%; padding-right: 96px;}
    }
    .info{ padding-top: 26px;
        &__img{ margin-right: 32px;}
    }
}
@media screen and (max-width: 992px){
    a:hover{ color: #000;}
    .mbox{padding: 0 100px;}
    .thin-content {  padding: 0; }
    .title{
        h4{ font-size: 24px;}
    }
    .breadcrumbs{ padding-top: 83px;}
    .breadcrumbs>*{ display: none;}
    .slider-big{
        &__slide-bg{ height: 275px;}
        &__slide-text{ padding-top: 275px;}
        &__text{ width: 100%; padding-top: 0;
            &:before{transform: skew(41deg); right: calc(50% - 102px); bottom: 100%; left: auto; top: auto; height: 50px;}
        }
        .slick-next{top: 139px;  right: 98px;}
        .slick-dots{ top: 242px; right: auto; left: calc(50% + 133px); width: auto;}
    }
    .global-wraper{ overflow: hidden;}
    .about .slick-dots{ bottom: 32px;}
    .slick-arrow svg{ width: 23px; height: 50px;}
    .slider{ margin-top: 220px;
        &:before { left: 0; width: 100%; background-position-x: 41%;  background-size: 696px 494px; }
        &--onmain:before{left: -50%; width: 200%;}
        &__txt{ padding-right: 0; width: 50%; padding-left: 18px;}
        &__img{  width: 50%;}
        &__price{ font-size: 30px;}
        &__oldprice{ font-size: 16px;
            p{ font-size: 10px;}
            &:before{ height: 2px;}
        }
        .slick-next { right: 52%;  }
        &--three{ margin-top: 160px; margin-bottom: 50px;
            .slick-next { right: -45px; opacity: 1;}
            .mbox { padding: 0 62px; }
        }
    }
    .info{ padding-top: 34px;
        &__img{ width: 175px; height: 175px;}
        &__title{ justify-content: flex-start;
            h2{ font-size: 24px;}
        }
        &__img{ margin-right: 0; margin-left: 72px;}
    }
    .another{
        &__slide-wrap:before{ bottom:auto; top: 225px; height: 50px;     right: calc(50% - 102px); background-color: #000;}
        &__slide-bg {  height: 275px;  }
        &__text{ position: relative; background-color: #000;}
        &__info{ margin-left: 0; width: 100%; padding-top: 0; padding-right: 0; padding-bottom: 60px;
            h6{ line-height: 1.2;     margin: 0 0 21px;}
        }
        .slick-next{top: 139px;  right: 98px;}
        .slick-dots{ top: 242px; bottom:auto; right:auto;  left: calc(50% + 133px); width: auto;
            li{
                button{ width: 20px;}
            }
        }
    }
    .newblog{ margin-top: 60px; padding-bottom: 26px;
        &__content{ flex-direction: column-reverse;}
        &__img{ width: 100%; height: 324px;
            img{ width: 100%; height: 100%; object-fit: cover;}
        }
        &__txt{ width: 100%; padding: 17px 0 0;
            h6{ font-size: 18px; line-height: 1.5;}
            p{ display: none;}
            a{ margin-top: 16px;}
        }
        p.newblog__date{ padding-bottom: 10px; display: block;}
    }
    .footer{ background-color: #FBAF33;
        &__socials,
        &__links{ display: none;}
        &__left{ padding:17px 0; width: 50%;}
        &__right{ background-color: transparent; padding-top: 15px; width: 50%; height:auto;
            &:before,&:after{ display: none;}
        }
    }
    .format__table { margin: 25px 0 28px;}
    .form-vis{ padding: 25px 0 36px;}
    .partners{ padding-bottom: 28px;
        &__row{ margin: 0 -5px;}
        &__item{padding: 0 5px 10px;
            h6{ margin-top: 11px;}
        }
        &__slider{padding: 43px 0 9px;}
        &__slider-wrap{ margin-bottom: 0;}
    }
    .form-vis__text h6{ font-size: 24px; margin-top: 19px;}
    #map{ height: 404px;}
    .contacts{ padding-bottom: 18px;
        &__col--to-hide{ display: none;}
        &__col{ width: 100%;}
    }
    header .mbox{ padding: 0 80px;}
    .p404 { height: calc(100vh - 135px); min-height:460px;}
    .p404__text{ padding: 20px;

        .btn{ margin-top: 11px; span{ width: 100%; padding: 10px;}}
        h5{ font-size: 24px;}
    }
    .blog{padding-bottom: 56px;
        &__date{display: none;}
        &__filter{display: none;}
        &__item--big{display: none;}
        &__img{min-height: 1px;}
    }
    .blockquote.blockquote{ padding: 16px 0; margin: 60px 0;
        p{font-size: 14px; line-height: 1.5;}
        span{text-align: left; margin-top: 7px;}
        .leftqoute{  bottom: 100%; top: auto;  }
        .rightqoute{  top: 100%;  }
        .leftqoute, .rightqoute{left: 0;right: auto; width: 50px; height: 52px;
            svg{width: 50px; height: 52px;}
        }
    }
    .blogpost__video{margin-top: 111px;}
    .productlist__img{height: 180px;}

}
@media screen and (max-width: 666px){
    header .mbox{ padding: 0 0;}
    .mbox{ padding: 0 20px;}
    .hmob {  padding: 0 20px 7px; }
    .slider-big{ padding-bottom: 46px;
        .slick-next{ right: 20px;}
        &__text:before { right: calc(50% - 45px);}
        .slick-dots { left: calc(50% + 62px);}
    }
    .slider{ margin-top: 113px;
        .slick-next {  right: 20px;  top: 111px;  }
        &:before { background-size: 350px 250px; top: -96px;  height: 62px; }
        &__item-wrap{ flex-direction: column;}
        &__img{ width: 100%;}
        &__txt{ width: 100%; padding-top: 27px; padding-left: 0;
            h6{ margin-bottom: 11px;}
        }
        &__price-wrap{ padding-top: 22px;}
        &__oldprice{ padding: 4px 6px 0;}
    }
    .info{ padding-top: 21px;
        &__title{ flex-direction: column-reverse; align-items: flex-start;}
        &__img{ margin-left: 0; margin-bottom: 13px;}
    }
    .another{
        .slick-next{ right: 20px;}
        &__slide-wrap{
            &:before{right: calc(50% - 44px);}
        }
        &__info{ padding-top: 19px;}
        .slick-dots { left: calc(50% + 62px);}
    }
    .newblog{ margin-top: 76px;
        &__img{ height: 159px;}
        &__content{ padding-top: 16px;}
    }
    .footer__wrap{ flex-direction: column;}
    .footer__left{ width: 100%;}
    .footer__right{ width: 100%; align-items: flex-start;
        p{font-size: 12px;}
    }
    .popup__wrap{ padding: 50px 10px;}

}
@media screen and (max-width: 555px){
    .productlist__item{ width: 300px;  padding: 0 14px 57px;}
    .productlist__content{ justify-content: space-around;}
    .slider--three{ margin-top: 0; margin-bottom: 0;
        &:before{ display: none;}
        .mbox{ padding: 0;}
        .slider__item{ width: 100%; margin: 0; position: relative;
            img{ width: 100%; box-shadow: none;}
            &:after {  bottom: 0; left: 0;    height: 50px; background-color: #fff;    width: 47%;  content: '';  position: absolute;  }
            &:before {  bottom: 0; left:calc(47% - 50px);    height: 50px; background-color: #fff;    width: 100px;  content: '';  position: absolute;    transform: skew(39deg);}
        }
        .slick-dots {  left: calc(50% + 62px); width:auto; bottom: 20px; text-align: left;
            li{
                button{ width: 20px;}
                &.slick-active, &:hover { background-color: #fff; }
            }
        }
    }
    .popup__row{ flex-wrap: wrap; margin: 0 -5px;}
    .form-vis__row{ flex-wrap: wrap; margin: 0 -5px;}
    .form-vis__title{ padding-bottom: 6px;}
    .form__input{ margin-bottom: 16px;}
    .popup__butt .form__input{ margin-bottom:6px;}
    .partners__row{ flex-wrap: wrap;}
    .partners__item{ width: 100%;     }
    .blog{padding-top: 9px;
        &__row{flex-wrap: wrap; margin: 0;}
        &__item{margin-bottom: 46px; padding: 0;}
    }
    .pdf-link{ flex-wrap: wrap; margin-bottom: 30px;
        i{margin-left: 0;}
        h6{width: 100%;}
    }
}