<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__wrap">
            <div class="footer__left">
                <div class="footer__links">
                    <a href="#">Калькулятор</a>
                    <a href="#">Пользовательское соглашение</a>
                </div>
                <div class="footer__text">
                    <p>© ООО "ТЕХНОСЕРВИС", 2014 - 2018г. Все материалы данного сайта являются объектами авторского права  (в том числе дизайн). Запрещается копирование, распространение (в том числе путем копирования на другие сайты и ресурсы Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя</p>
                </div>
            </div>
            <div class="footer__right">
                <ul class="footer__socials">
                    <li>
                        <a href="" class="social-button" target="_blank">
                            <svg width="20" height="13">
                                <use xlink:href="#soc-vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button" target="_blank">
                            <svg width="10" height="20">
                                <use xlink:href="#soc-fb"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button" target="_blank">
                            <svg width="16" height="16">
                                <use xlink:href="#soc-li"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button" target="_blank">
                            <svg width="18" height="15">
                                <use xlink:href="#soc-tw"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button" target="_blank">
                            <svg width="24" height="16">
                                <use xlink:href="#soc-gg"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button" target="_blank">
                            <svg width="16" height="16">
                                <use xlink:href="#soc-ig"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p>Разработка сайта — <a href="https://proxima.agency">Proxima.agency</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
<script>
    var revision = 8053218;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css?122">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
