<div class="hidden-block">
    <div class="popup" id="popup-call">
        <div class="popup__wrap">
            <div class="popup__title">
                <b>Форма обратной связи</b>
            </div>
            <form class="popup__content">
                <div class="popup__row">
                    <div class="form__input">
                        <p>Имя*</p>
                        <input type="text" name="name" required="required" value="">
                    </div>
                    <div class="form__input">
                        <p>Email*</p>
                        <input type="email" name="mail" required="required" value="">
                    </div>
                </div>
                <div class="popup__row">
                    <div class="form__input">
                        <p>Поле для сообщения</p>
                        <textarea name="comment"></textarea>
                    </div>

                </div>
                <div class="popup__row popup__capcha">
                    <div class="form__input">
                        <div class="g-recaptcha" data-sitekey="6Lc6JFcUAAAAAJbMO1F2IGvrwrcf5MCqkdq3RdtK"></div>
                    </div>

                </div>
                <div class="popup__row popup__butt">
                    <div class="form__input">
                        <button type="submit" class="btn btn--fill"><span>Отправить</span></button>
                    </div>

                </div>

            </form>
            <div class="popup__info">
                <p>Нажимая «Отправить», я соглашаюсь с обработкой персональных данных в соответствии с ФЗ «О персональных данных» № 152-ФЗ</p>
            </div>
        </div>
        <div class="preloader hide">
            <div class="preloader__img">
                <img src="images/preloader.gif" alt="">
            </div>
        </div>
    </div>
</div>