<section class="slider slider--three">
    <div class="mbox">
        <div class="slider__wrap js-three-items-slider">
            <div class="slider__item">
                <img src="images/demo/d2.jpg" alt="" class="shadow">
            </div>
            <div class="slider__item">
                <img src="images/demo/d2.jpg" alt="" class="shadow">
            </div>
            <div class="slider__item">
                <img src="images/demo/d2.jpg" alt="" class="shadow">
            </div>
            <div class="slider__item">
                <img src="images/demo/d2.jpg" alt="" class="shadow">
            </div>
            <div class="slider__item">
                <img src="images/demo/d2.jpg" alt="" class="shadow">
            </div>
        </div>
    </div>
</section>