//= partials/head.html

<div class="global-wrapper">
    <header class="main-page">
       <div class="mbox">
           <div class="header">
               <div class="header__left">
                   <div class="header__logo">
                       <svg width="85" height="42">
                           <use xlink:href="#logo"></use>
                       </svg>
                   </div>
                   <nav class="nav media--desktop">
                       <ul>
                           <li><a href="#">Продукция</a></li>
                           <li><a href="#">Партнерам</a></li>
                           <li><a href="#">Реализованные проекты</a></li>
                           <li><a href="#">Готовые проекты</a></li>
                           <li><a href="#">Контакты</a></li>
                           <li><a href="#">О компании</a></li>
                       </ul>
                   </nav>
               </div>
               <div class="header__buttons">
                   <a href="#" class="header__butt">
                       <svg width="16" height="16">
                           <use xlink:href="#phone"></use>
                       </svg>
                   </a>
                   <a href="#" class="header__butt">
                       <svg width="16" height="21">
                           <use xlink:href="#calc"></use>
                       </svg>
                   </a>
                   <div class="header__butt media--mobile js-open-menu">
                       <svg width="21" height="14">
                           <use xlink:href="#butter"></use>
                       </svg>
                   </div>
                   <a href="#popup-call" data-fancybox class="btn btn--fill media--desktop">
                       <span>Связаться</span>
                   </a>
               </div>
           </div>
       </div>
        <div class="media--mobile header__mobile">
            <div class="hmob">
                <div class="hmob__top">
                    <div class="hmob__logo">
                        <svg width="81" height="40"><use xlink:href="#logom"></use></svg>
                    </div>
                    <div class="hmob__close js-close-menu">
                        <svg width="16" height="16"><use xlink:href="#cross"></use></svg>
                    </div>
                </div>
                <ul class="hmob__nav">
                    <li><a href="#">Продукция</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Реализованные проекты</a></li>
                    <li><a href="#">Готовые проекты</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <a href="#popup-call" data-fancybox class="button">Связаться</a>
                <div class="hmob__links">
                    <a href="#">Калькулятор</a>
                    <a href="#">Пользовательское соглашение</a>
                </div>
                <ul class="hmob__socials">
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="20" height="13">
                                <use xlink:href="#soc-vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="10" height="20">
                                <use xlink:href="#soc-fb"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="16" height="16">
                                <use xlink:href="#soc-li"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="18" height="15">
                                <use xlink:href="#soc-tw"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="24" height="16">
                                <use xlink:href="#soc-gg"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

        <div class="p404">
            <div class="p404__bg">
                <img src="images/bgcc.png" data-object-fit="cover" alt="">
            </div>
            <div class="p404__text">
                <h5 class="white">Страница не найдена</h5>
                <p>Неправильно набран адрес, или такой <br>страницы на сайте больше не существует.</p>
                <a href="#" class="btn"><span>Вернуться на главную страницу</span></a>
            </div>
        </div>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>