//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox blogpost__pb">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>О компании</h4>
                </div>
                <div class="blogpost__post">
                    <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                    <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                    <p>Аэроблок сразу задал самую высокую планку для всех производителей отечественных стеновых блоков. Завод на практике реализует программу импортозамещения и уже сегодня способен полностью покрыть потребности строек региона в газобетонных блоках. Мощности производства хватает для выпуска 300 тыс. м³ блоков в год, а за один день из автоклавов выходит до 800-1000 кубометров. Такие высокие темпы связаны, во-первых, с растущей популярностью этого стенового материала. А во-вторых и в главных, – с непревзойденным качеством газобетонного блока, который здесь производится.</p>
                    <p>Газобетонные изделия предприятия реализуются на рынке под брендом AeroBLOK.</p>
                </div>
            </div>
        </div>
        //= partials/slider.html
        <div class="mbox blogpost__pt">
            <div class="thin-content">
                <div class="blogpost__post">
                    <p>Передовое оборудование позволяет заводу «Аэроблок» выпускать продукт превосходного качества, который не уступает ведущим мировым производителям стеновых газобетонных блоков. Аэроблок отличается идеальной геометрией, оптимальными техническими и теплофизическими характеристиками, а также  абсолютной экологичностью. В производстве не используется вредных веществ - только песок, известь, цемент и вода. Поэтому, когда газобетонный блок выходит из автоклавной печи, он представляет собой  самый настоящий природный материал - камень, которому не страшны даже самые суровые условия эксплуатации.</p>
                    <p>Это самый теплый материал для несущих стен. Из блоков AeroBLOK можно строить однослойные каменные стены толщиной 200-400 мм, которые удовлетворяют современным требованиям к тепловой защите.  Аэроблоки используются как на высотных объектах в стенах с поэтажным опиранием на железобетонные перекрытия, так и в малоэтажном строительстве в качестве однослойных несущих стен.</p>
                </div>
            </div>
            <section class="about">
                <div class="about__wrap js-rows-slider">
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="164" height="80"><use xlink:href="#item01"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>7 700 м²</h3>
                            <b>производственных площадей</b>
                            <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="144" height="62"><use xlink:href="#item02"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Более 30</h3>
                            <b>видов выпускаемой продукции</b>
                            <p>А также сухих строительных смесей и
                                товарного бетона.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="84" height="81"><use xlink:href="#item03"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>300 000 м³</h3>
                            <b>газосиликатных блоков в год</b>
                            <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="86" height="70"><use xlink:href="#item04"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Более 30</h3>
                            <b>единиц техники</b>
                            <p>Грузовых автомобилей и манипуляторной техники.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="70" height="70"><use xlink:href="#item05"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Своя</h3>
                            <b>собственная лаборатория</b>
                            <p>Регулярно производятся испытания каждой партии газосиликатного блока.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="215" height="81"><use xlink:href="#item06"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Свой</h3>
                            <b>погрузо-разгрузочный узел</b>
                            <p>С оборотом сыпучих материалов 150 000 тонн в год</p>
                        </div>
                    </div>
                </div>

            </section>
            <div class="thin-content">
                <div class="blogpost__post">
                    <p>Технология производства газобетона позволяет испо <i>льзовать стеновые блоки различной плотностью ( D400, D500, D600, D700 ), что, в </i>свою очередь, дает возможность возводить несущие конструкции до 5-6 этажей. При этом необходимо грамотно расчитать проект, учитывая все размеры несущих и разгружающих конструкций, размеры проемов и т.д.</p>
                    <p>Помимо выпуска продукции в соответствии с действующими нормативными документами, специалисты предприятия принимают активное участие в совершенствовании проектов строящихся объектов.</p>
                    <p> Качество продукции AeroBLOK соответствует высоким требованиям европейских стандартов и обеспечивается постоянным входным и пооперационным контролем сырьевых материалов и технологических процессов, осуществляемым заводскими лабораториями.</p>
                    <div class="blogpost__img">
                        <img src="images/demo/d9.jpg" alt="" class="shadow--big">
                    </div>
                    <p><i>Технология производства газобетона позволяет использовать стеновые блоки различной плотностью </i>( D400, D500, D600, D700 ), что, в свою очередь, дает возможность возводить несущие конструкции до 5-6 этажей. При этом необходимо грамотно расчитать проект, <a href="#">учитывая все размеры несущих и разгружающих</a> конструкций, размеры проемов и т.д.</p>
                    <p>Помимо выпуска продукции в <b>соответствии с действующими нормативными документами</b>, специалисты предприятия принимают активное участие в совершенствовании проектов строящихся объектов.</p>
                    <blockquote class="blockquote">
                        <i class="leftqoute">
                            <svg width="100" height="104">
                                <use xlink:href="#leftquote"></use>
                            </svg>
                        </i>
                        <i class="rightqoute">
                            <svg width="100" height="104">
                                <use xlink:href="#rightquote"></use>
                            </svg>
                        </i>
                        <p>«Помимо выпуска продукции в соответствии с действующими нормативными документами, специалисты предприятия принимают активное участие в совершенствовании проектов строящихся объектов».</p>
                        <span>Владимир Иванов</span>
                    </blockquote>
                    <div class="blogpost__video">
                        <iframe  src="https://www.youtube.com/embed/MRqP1t3bWK4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <h6>Технология производства газобетона</h6>
                    <p><i>Технология производства газобетона позволяет использовать стеновые блоки различной плотностью </i>( D400, D500, D600, D700 ), что, в свою очередь, дает возможность возводить несущие конструкции до 5-6 этажей. При этом необходимо грамотно расчитать проект, <a href="#">учитывая все размеры несущих и разгружающих</a> конструкций, размеры проемов и т.д.</p>
                    <p>Помимо выпуска продукции в <b>соответствии с действующими нормативными документами</b>, специалисты предприятия принимают активное участие в совершенствовании проектов строящихся объектов.</p>
                </div>
            </div>
        </div>
        <section class="partners__slider">
            <div class="mbox">
                <div class="thin-content">
                    <div class="partners__slider-wrap js-partner-slider">
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w1.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w5.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w4.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w3.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w2.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w1.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w2.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w3.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w4.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w5.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>