//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox blogpost__pb">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>Пользовательское соглашение</h4>
                </div>
                <div class="blogpost">
                    <div class="blogpost__post">
                        <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                        <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                        <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                        <p>Аэроблок сразу задал самую высокую планку для всех производителей отечественных стеновых блоков. Завод на практике реализует программу импортозамещения и уже сегодня способен полностью покрыть потребности строек региона в газобетонных блоках. Мощности производства хватает для выпуска 300 тыс. м³ блоков в год, а за один день из автоклавов выходит до 800-1000 кубометров. Такие высокие темпы связаны, во-первых, с растущей популярностью этого стенового материала. А во-вторых и в главных, – с непревзойденным качеством газобетонного блока, который здесь производится.</p>
                        <p>Газобетонные изделия предприятия реализуются на рынке под брендом AeroBLOK.</p>
                        <p>Передовое оборудование позволяет заводу «Аэроблок» выпускать продукт превосходного качества, который не уступает ведущим мировым производителям стеновых газобетонных блоков. Аэроблок отличается идеальной геометрией, оптимальными техническими и теплофизическими характеристиками, а также  абсолютной экологичностью. В производстве не используется вредных веществ - только песок, известь, цемент и вода. Поэтому, когда газобетонный блок выходит из автоклавной печи, он представляет собой  самый настоящий природный материал - камень, которому не страшны даже самые суровые условия эксплуатации.</p>
                        <p>Это самый теплый материал для несущих стен. Из блоков AeroBLOK можно строить однослойные каменные стены толщиной 200-400 мм, которые удовлетворяют современным требованиям к тепловой защите.  Аэроблоки используются как на высотных объектах в стенах с поэтажным опиранием на железобетонные перекрытия, так и в малоэтажном строительстве в качестве однослойных несущих стен.</p>
                        <p>Технология производства газобетона позволяет использовать стеновые блоки различной плотностью ( D400, D500, D600, D700 ), что, в свою очередь, дает возможность возводить несущие конструкции до 5-6 этажей. При этом необходимо грамотно расчитать проект, учитывая все размеры несущих и разгружающих конструкций, размеры проемов и т.д.</p>
                        <p>Помимо выпуска продукции в соответствии с действующими нормативными документами, специалисты предприятия принимают активное участие в совершенствовании проектов строящихся объектов.</p>
                        <p>Качество продукции AeroBLOK соответствует высоким требованиям европейских стандартов и обеспечивается постоянным входным и пооперационным контролем сырьевых материалов и технологических процессов, осуществляемым заводскими лабораториями.</p>
                        <p>Мы не ограничиваемся производством. Мы сопровождаем свою продукцию на всех стадиях ее жизненного цикла.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>