//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox blogpost__pb">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>Как мы строили аэроблок</h4>
                </div>
                <div class="blogpost">
                    <div class="blog__filter">
                        <a href="#">Все</a>
                        <a href="#" class="active">Новости</a>
                        <a href="#">Строительная физика</a>
                        <a href="#">Правда о мифах</a>
                        <a href="#">Технология</a>
                        <a href="#">Рекомендации</a>
                    </div>
                    <div class="blogpost__post">
                        <div class="blogpost__img">
                            <img src="images/demo/d9.jpg" alt="" class="shadow--big">
                        </div>
                        <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                        <p>Аэроблок сразу задал самую высокую планку для всех производителей отечественных стеновых блоков. Завод на практике реализует программу импортозамещения и уже сегодня способен полностью покрыть потребности строек региона в газобетонных блоках. Мощности производства хватает для выпуска 300 тыс. м³ блоков в год, а за один день из автоклавов выходит до 800-1000 кубометров. Такие высокие темпы связаны, во-первых, с растущей популярностью этого стенового материала. А во-вторых и в главных, – с непревзойденным качеством газобетонного блока, который здесь производится.</p>
                        <p>Газобетонные изделия предприятия реализуются на рынке под брендом AeroBLOK.</p>
                    </div>
                </div>
            </div>
        </div>
        //= partials/slider.html
        <div class="mbox blogpost__pt">
            <section class="about">
                <div class="about__wrap js-rows-slider">
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="164" height="80"><use xlink:href="#item01"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>7 700 м²</h3>
                            <b>производственных площадей</b>
                            <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="144" height="62"><use xlink:href="#item02"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Более 30</h3>
                            <b>видов выпускаемой продукции</b>
                            <p>А также сухих строительных смесей и
                                товарного бетона.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="84" height="81"><use xlink:href="#item03"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>300 000 м³</h3>
                            <b>газосиликатных блоков в год</b>
                            <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="86" height="70"><use xlink:href="#item04"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Более 30</h3>
                            <b>единиц техники</b>
                            <p>Грузовых автомобилей и манипуляторной техники.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="70" height="70"><use xlink:href="#item05"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Своя</h3>
                            <b>собственная лаборатория</b>
                            <p>Регулярно производятся испытания каждой партии газосиликатного блока.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__img">
                            <svg width="215" height="81"><use xlink:href="#item06"></use></svg>
                        </div>
                        <div class="about__txt">
                            <h3>Свой</h3>
                            <b>погрузо-разгрузочный узел</b>
                            <p>С оборотом сыпучих материалов 150 000 тонн в год</p>
                        </div>
                    </div>
                </div>

            </section>
            <div class="thin-content">
                <div class="blogpost__post">
                    <p><i>Технология производства газобетона позволяет использовать стеновые блоки различной плотностью </i>( D400, D500, D600, D700 ), что, в свою очередь, дает возможность возводить несущие конструкции до 5-6 этажей. При этом необходимо грамотно расчитать проект, <a href="#">учитывая все размеры несущих и разгружающих</a> конструкций, размеры проемов и т.д.</p>
                    <p>Помимо выпуска продукции в <b>соответствии с действующими нормативными документами</b>, специалисты предприятия принимают активное участие в совершенствовании проектов строящихся объектов.</p>
                    <blockquote class="blockquote">
                        <i class="leftqoute">
                            <svg width="100" height="104">
                                <use xlink:href="#leftquote"></use>
                            </svg>
                        </i>
                        <i class="rightqoute">
                            <svg width="100" height="104">
                                <use xlink:href="#rightquote"></use>
                            </svg>
                        </i>
                        <p>«Помимо выпуска продукции в соответствии с действующими нормативными документами, специалисты предприятия принимают активное участие в совершенствовании проектов строящихся объектов».</p>
                        <span>Владимир Иванов</span>
                    </blockquote>
                    <div class="blogpost__video">
                        <iframe  src="https://www.youtube.com/embed/MRqP1t3bWK4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <h6>Технология производства газобетона</h6>
                </div>
            </div>
        </div>
        <section class="other">
            <div class="mbox">
                <h4>Другие статьи</h4>
                <div class="blog__row">
                    <div class="blog__item">
                        <div class="blog__img">
                            <img src="images/demo/d9.jpg" alt="" class="shadow">
                        </div>
                        <span class="blog__date">07/20/2018</span>
                        <h6>Предупреждение о мошенничестве</h6>
                        <p>В случае возникновения подозрений на мошеннические действия, не производите оплату на месте, убедитесь, что перекупщик работает с заводом, связавшись со специалистами компании по телефону или электронной почте.</p>
                        <a href="#">Читать блог</a>

                    </div>
                    <div class="blog__item">
                        <div class="blog__img">
                            <img src="images/demo/d9.jpg" alt="" class="shadow">
                        </div>
                        <span class="blog__date">07/20/2018</span>
                        <h6>Качественные строительные материалы</h6>
                        <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. </p>
                        <a href="#">Читать блог</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>