//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>Контакты</h4>
                </div>
                <div class="contacts">
                    <div class="contacts__row">
                        <div class="contacts__col">
                            <div class="contacts__item">
                                <h6 class="orange">ООО «Техносервис»</h6>
                                <p>Калининградская обл., п. Луговое, ул. Александровская, д. 1</p>
                                <p>+7 (4012) 670–222</p>
                                <p><a href="mailto:info@aerkoblok.net">info@aerkoblok.net</a></p>
                            </div>
                            <div class="contacts__item">
                                <h6 class="orange">Менеджеры по продажам</h6>
                                <p><a href="tel:+7 (909) 791–50–67">+7 (909) 791–50–67</a></p>
                                <p><a href="tel:+7 (909) 791–50–13">+7 (909) 791–50–13</a></p>
                                <p><a href="tel:+7 (909) 797–59–2">+7 (909) 797–59–23</a></p>
                                <p><a href="tel:+7 (906) 238–32–40">+7 (906) 238–32–40 (бетон)</a></p>
                            </div>
                            <div class="contacts__item">
                                <h6 class="orange">Режим работы</h6>
                                <p>Будни: 8:00–17:00</p>
                                <p>Суббота: 8:00–13:00</p>
                                <p>Воскресенье: выходной</p>
                            </div>
                        </div>
                        <div class="contacts__col contacts__col--to-hide">
                            <div class="contacts__item">
                                <h6 class="orange">Форма обратной связи</h6>
                                <form class="popup__content">
                                    <div class="popup__row">
                                        <div class="form__input">
                                            <p>Имя*</p>
                                            <input type="text" name="test[]" required="required" value="">
                                        </div>
                                        <div class="form__input">
                                            <p>Email*</p>
                                            <input type="email" name="test[]" required="required" value="">
                                        </div>
                                    </div>
                                    <div class="popup__row">
                                        <div class="form__input">
                                            <p>Поле для сообщения</p>
                                            <textarea name="test[]"></textarea>
                                        </div>

                                    </div>
                                    <div class="popup__row popup__butt">
                                        <div class="form__input">
                                            <button type="submit" class="btn btn--fill"><span>Отправить</span></button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="map"></div>

    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>
    <script>
        var cordX = 34, cordY = 55;

        ymaps.ready(init);
        var myMap,
            myPlacemark;
        function init(){
            myMap = new ymaps.Map("map", {
                center: [cordX, cordY],
                zoom: 7
            });
            myPlacemark = new ymaps.Placemark([cordX, cordY], { hintContent: 'Москва!', balloonContent: 'Столица России' });
            myMap.geoObjects.add(myPlacemark);
        }

    </script>
</div>
</body>
</html>