//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html


    <div class="main">
        <div class="mbox" style="background-color: #ccc;">
            <br><br><br><br>
            <ul>
                <li><a href="main.html">main.html  +</a></li>
                <li><a href="productlist.html">productlist.html  +</a></li>
                <li><a href="products.html">products.html  +</a></li>
                <li><a href="partners.html">partners.html +</a></li>
                <li><a href="contacts.html">contacts.html +</a></li>
                <li><a href="404.html">404.html +</a></li>
                <li><a href="blog.html">blog.html +</a></li>
                <li><a href="blogpost.html">blogpost.html +</a></li>
                <li><a href="about.html">about.html +</a></li>
                <li><a href="readyproj.html">ready project.html +</a></li>
                <li><a href="readyproj-inner.html">ready project inner.html +</a></li>
                <li><a href="realproj.html">real project.html +</a></li>
                <li><a href="realproj-inner.html">real project inner.html +</a></li>
                <li><a href="agreement.html">agreement.html +</a></li>
            </ul>
            <hr>
            <h1 style="margin: 0;">Title h1</h1>
            <h2 style="margin: 0;">Title h2</h2>
            <h3 style="margin: 0;">Title h3</h3>
            <h4 style="margin: 0;">Title h4</h4>
            <h5 style="margin: 0;">Title h5</h5>
            <h6 style="margin: 0;">Title h6</h6>
        </div>
        <div class="mbox">
            <h6>socials</h6>
            <ul style="display: flex;">
                <li>
                    <a href="" class="social-button" target="_blank">
                        <svg width="20" height="13">
                            <use xlink:href="#soc-vk"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="social-button" target="_blank">
                        <svg width="10" height="20">
                            <use xlink:href="#soc-fb"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="social-button" target="_blank">
                        <svg width="16" height="16">
                            <use xlink:href="#soc-li"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="social-button" target="_blank">
                        <svg width="18" height="15">
                            <use xlink:href="#soc-tw"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="social-button" target="_blank">
                        <svg width="24" height="16">
                            <use xlink:href="#soc-gg"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <a href="#" class="btn"><span>Подробнее</span></a>
            <a href="#" class="btn btn--fill"><span>Подробнее</span></a>
            <p>Разработка сайта — <a href="#">Proxima.agency</a></p>
            <ul class="paginator">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="active"><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">→</a></li>
            </ul>
        	<svg width="8" height="8">
               	<use xlink:href="#cross"></use>
            </svg>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>