//= partials/head.html

<div class="global-wrapper">
    <!-- HEADER -->
    <header class="main-page">
        <div class="header">
            <div class="header__left">
                <div class="header__logo">
                    <svg width="85" height="42">
                        <use xlink:href="#logo"></use>
                    </svg>
                </div>
                <nav class="nav media--desktop">
                    <ul>
                        <li><a href="#">Продукция</a></li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">Реализованные проекты</a></li>
                        <li><a href="#">Готовые проекты</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">О компании</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__buttons">
                <a href="#" class="header__butt">
                    <svg width="16" height="16">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <a href="#" class="header__butt">
                    <svg width="16" height="21">
                        <use xlink:href="#calc"></use>
                    </svg>
                </a>
                <div class="header__butt media--mobile js-open-menu">
                    <svg width="21" height="14">
                        <use xlink:href="#butter"></use>
                    </svg>
                </div>
                <a href="#popup-call" data-fancybox class="btn btn--fill media--desktop">
                    <span>Связаться</span>
                </a>
            </div>
        </div>
        <div class="media--mobile header__mobile">
            <div class="hmob">
                <div class="hmob__top">
                    <div class="hmob__logo">
                        <svg width="81" height="40"><use xlink:href="#logom"></use></svg>
                    </div>
                    <div class="hmob__close js-close-menu">
                        <svg width="16" height="16"><use xlink:href="#cross"></use></svg>
                    </div>
                </div>
                <ul class="hmob__nav">
                    <li><a href="#">Продукция</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Реализованные проекты</a></li>
                    <li><a href="#">Готовые проекты</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <a href="#popup-call" data-fancybox class="button">Связаться</a>
                <div class="hmob__links">
                    <a href="#">Калькулятор</a>
                    <a href="#">Пользовательское соглашение</a>
                </div>
                <ul class="hmob__socials">
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="20" height="13">
                                <use xlink:href="#soc-vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="10" height="20">
                                <use xlink:href="#soc-fb"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="16" height="16">
                                <use xlink:href="#soc-li"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="18" height="15">
                                <use xlink:href="#soc-tw"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="social-button social-button--white" target="_blank">
                            <svg width="24" height="16">
                                <use xlink:href="#soc-gg"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /HEADER -->
    <div class="main">
        <section class="slider-big">
            <div class="slider-big__body js-slick-fade">
                <div class="slider-big__slide">
                    <div class="slider-big__slide-wrap">
                        <div class="slider-big__slide-bg">
                            <img src="images/bgcc.png" data-object-fit="cover" alt="">
                        </div>
                        <div class="slider-big__slide-text">
                            <div class="mbox">
                                <div class="slider-big__text">
                                    <h6>Аэроблок</h6>
                                    <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона  в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-big__slide">
                    <div class="slider-big__slide-wrap">
                        <div class="slider-big__slide-bg">
                            <img src="images/bgcc.png" data-object-fit="cover" alt="">
                        </div>
                        <div class="slider-big__slide-text">
                            <div class="mbox">
                                <div class="slider-big__text">
                                    <h6>Аэроблок 02</h6>
                                    <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона  в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-big__slide">
                    <div class="slider-big__slide-wrap">
                        <div class="slider-big__slide-bg">
                            <img src="images/bgcc.png" data-object-fit="cover" alt="">
                        </div>
                        <div class="slider-big__slide-text">
                            <div class="mbox">
                                <div class="slider-big__text">
                                    <h6>Аэроблок 03 </h6>
                                    <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона  в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn». «АэроБЛОК» - крупнейшее предприятие по производству газобетона  в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».«АэроБЛОК» - крупнейшее предприятие по производству газобетона  в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-big__slide">
                    <div class="slider-big__slide-wrap">
                        <div class="slider-big__slide-bg">
                            <img src="images/bgcc.png" data-object-fit="cover" alt="">
                        </div>
                        <div class="slider-big__slide-text">
                            <div class="mbox">
                                <div class="slider-big__text">
                                    <h6>Аэроблок 04</h6>
                                    <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона  в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="oh-wraper">
            <div class="mbox">
                <section class="about">
                    <div class="about__wrap js-rows-slider">
                        <div class="about__item">
                            <div class="about__img">
                                <svg width="164" height="80"><use xlink:href="#item01"></use></svg>
                            </div>
                            <div class="about__txt">
                                <h3>7 700 м²</h3>
                                <b>производственных площадей</b>
                                <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                            </div>
                        </div>
                        <div class="about__item">
                            <div class="about__img">
                                <svg width="144" height="62"><use xlink:href="#item02"></use></svg>
                            </div>
                            <div class="about__txt">
                                <h3>Более 30</h3>
                                <b>видов выпускаемой продукции</b>
                                <p>А также сухих строительных смесей и
                                    товарного бетона.</p>
                            </div>
                        </div>
                        <div class="about__item">
                            <div class="about__img">
                                <svg width="84" height="81"><use xlink:href="#item03"></use></svg>
                            </div>
                            <div class="about__txt">
                                <h3>300 000 м³</h3>
                                <b>газосиликатных блоков в год</b>
                                <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                            </div>
                        </div>
                        <div class="about__item">
                            <div class="about__img">
                                <svg width="86" height="70"><use xlink:href="#item04"></use></svg>
                            </div>
                            <div class="about__txt">
                                <h3>Более 30</h3>
                                <b>единиц техники</b>
                                <p>Грузовых автомобилей и манипуляторной техники.</p>
                            </div>
                        </div>
                        <div class="about__item">
                            <div class="about__img">
                                <svg width="70" height="70"><use xlink:href="#item05"></use></svg>
                            </div>
                            <div class="about__txt">
                                <h3>Своя</h3>
                                <b>собственная лаборатория</b>
                                <p>Регулярно производятся испытания каждой партии газосиликатного блока.</p>
                            </div>
                        </div>
                        <div class="about__item">
                            <div class="about__img">
                                <svg width="215" height="81"><use xlink:href="#item06"></use></svg>
                            </div>
                            <div class="about__txt">
                                <h3>Свой</h3>
                                <b>погрузо-разгрузочный узел</b>
                                <p>С оборотом сыпучих материалов 150 000 тонн в год</p>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="slider slider--onmain">
                    <div class="slider__wrap js-slick-fade-another">
                        <div class="slider__item">
                            <div class="slider__item-wrap">
                                <div class="slider__img">
                                    <img class="shadow" src="images/demo/d1.jpg" alt="">
                                </div>
                                <div class="slider__txt">
                                    <h6>Клей для минеральной ваты армирующий</h6>
                                    <p>Небольшое описание акции, буквально на 2-3 строки текста на 2-3 строки текста.</p>
                                    <div class="slider__price-wrap">
                                        <div class="slider__price">
                                            <span>1 300 Р</span>
                                        </div>
                                        <div class="slider__oldprice">
                                            <p>Старая цена:</p>
                                            <b>1 800 Р</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider__item-wrap">
                                <div class="slider__img">
                                    <img class="shadow" src="http://via.placeholder.com/405x305" alt="">
                                </div>
                                <div class="slider__txt">
                                    <h6>Клей для минеральной ваты армирующий 0222</h6>
                                    <p>Небольшое описание акции, буквально на 2-3 строки текста. и если вдруг больше ну всякое бывает то тут сразу видно результат Небольшое описание акции, буквально на 2-3 строки текста. и если вдруг больше ну всякое бывает то тут сразу видно результат</p>
                                    <div class="slider__price-wrap">
                                        <div class="slider__price">
                                            <span>1 300 Р</span>
                                        </div>
                                        <div class="slider__oldprice">
                                            <p>Старая цена:</p>
                                            <b>1 800 Р</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="info">
                    <div class="info__title">
                        <h2>Силикатный блок</h2>
                        <div class="info__img">
                            <img src="images/demo/d2.jpg" alt="" data-object-fit="cover">
                        </div>
                    </div>
                    <div class="info__content js-rows-slider">
                        <div class="info__item">
                            <div class="info__item-img">
                                <img src="images/01.png" alt="">
                            </div>
                            <div class="info__item-txt">
                                <b>Экологичность</b>
                                <p>Основой для изготовления служат экологически чистые компоненты без вредных примесей.</p>
                            </div>
                        </div>
                        <div class="info__item">
                            <div class="info__item-img">
                                <img src="images/02.png" alt="">
                            </div>
                            <div class="info__item-txt">
                                <b>Морозостойкость</b>
                                <p>Газосиликатные блоки обладают морозостойкостью 100 циклов, и можно использовать без наружной отделки.</p>
                            </div>
                        </div>
                        <div class="info__item">
                            <div class="info__item-img">
                                <img src="images/03.png" alt="">
                            </div>
                            <div class="info__item-txt">
                                <b>Звукоизоляция</b>
                                <p>Способствует значительному уменьшению звуков и шума в помещении. Наличие пор вызывает сопротивляемость звуку.</p>
                            </div>
                        </div>
                        <div class="info__item">
                            <div class="info__item-img">
                                <img src="images/04.png" alt="">
                            </div>
                            <div class="info__item-txt">
                                <b>Теплоемкость</b>
                                <p>Летом такие здания обладают прохладой, а зимой лучше сохраняют тепло.</p>
                            </div>
                        </div>
                        <div class="info__item">
                            <div class="info__item-img">
                                <img src="images/05.png" alt="">
                            </div>
                            <div class="info__item-txt">
                                <b>Легок в обработке</b>
                                <p>Легко обрабатывается любыми инструментами, такими как сверла, пилы, фрезы.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="another">
            <div class="another__body js-slick-fade">
                <div class="another__slide">
                    <div class="another__slide-wrap">
                        <div class="another__slide-bg">
                            <img src="images/bgcc.png" data-object-fit="cover" alt="">
                        </div>
                        <div class="another__text">
                            <div class="mbox">
                                <div class="another__info">
                                    <h6>Проект</h6>
                                    <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                                    <a href="#" class="btn">
                                        <span>Смотреть проект</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="another__slide">
                    <div class="another__slide-wrap">
                        <div class="another__slide-bg">
                            <img src="images/bgcc.png" data-object-fit="cover" alt="">
                        </div>
                        <div class="another__text">
                            <div class="mbox">
                                <div class="another__info">
                                    <h6>Проект 02</h6>
                                    <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="another__slide">
                    <div class="another__slide-wrap">
                        <div class="another__slide-bg">
                            <img src="images/bgcc.png" data-object-fit="cover" alt="">
                        </div>
                        <div class="another__text">
                            <div class="mbox">
                                <div class="another__info">
                                    <h6>Проект 03</h6>
                                    <p>«АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="mbox">
            <section class="newblog">
                <div class="newblog__title">
                    <h6>Новое в блоге</h6>
                </div>
                <div class="newblog__content">
                    <div class="newblog__txt">
                        <p class="newblog__date">07/20/2018</p>
                        <h6><a href="#">Качественные строительные материалы в Калининграде поставляются напрямую</a></h6>
                        <p>Качественные строительные материалы в Калининграде поставляются напрямую с заводов предприятия «Аэроблок» - современного производителя газосиликатных блоков и других кладочных материалов. </p>
                        <a href="#">Читать блог</a>
                    </div>
                    <div class="newblog__img">
                        <img src="images/demo/d8.jpg" alt="" class="shadow">
                    </div>
                </div>
            </section>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
