//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>Партнерам</h4>
                </div>
                <div class="partners">
                    <div class="partners__row">
                        <div class="partners__item">
                            <h6 class="orange">Ответственны</h6>
                            <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn». </p>
                        </div>
                        <div class="partners__item">
                            <h6 class="orange">Порядочны</h6>
                            <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        </div>
                    </div>
                    <div class="partners__row">
                        <div class="partners__item">
                            <h6 class="orange">Коллектив профессионалов</h6>
                            <p>Аэроблок сразу задал самую высокую планку для всех производителей отечественных стеновых блоков. Завод на практике реализует программу импортозамещения и уже сегодня способен полностью покрыть потребности строек региона в газобетонных блоках.</p>
                        </div>
                        <div class="partners__item">
                            <h6 class="orange">На рынке с 2014 года</h6>
                            <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn». </p>
                        </div>
                    </div>
                    <div class="partners__row">
                        <div class="partners__item">
                            <h6 class="orange">Гуманные цены</h6>
                            <p>Аэроблок сразу задал самую высокую планку для всех производителей отечественных стеновых блоков. Завод на практике реализует программу импортозамещения и уже сегодня способен полностью покрыть потребности строек региона в газобетонных блоках.</p>
                        </div>
                        <div class="partners__item">
                            <h6 class="orange">Большой выбор</h6>
                            <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="partners__slider">
            <div class="mbox">
                <div class="thin-content">
                    <div class="partners__slider-wrap js-partner-slider">
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w1.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w5.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w4.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w3.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w2.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w1.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w2.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w3.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w4.png" alt="">
                            </a>
                        </div>
                        <div class="partners__slider-item">
                            <a href="#">
                                <img src="images/w5.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="form-vis form-vis--white">
            <div class="mbox">
                <div class="thin-content">
                    <div class="form-vis__wrap">
                        <div class="form-vis__text">
                            <h6>Приглашаем к сотрудничеству</h6>
                            <p>Качество продукции AeroBLOK соответствует высоким требованиям европейских стандартов и обеспечивается постоянным входным и пооперационным контролем сырьевых материалов и технологических процессов, осуществляемым заводскими лабораториями.</p>
                        </div>
                        <form class="form-vis__content">
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Имя*</p>
                                    <input type="text" name="test[]" required="required" value="">
                                </div>
                                <div class="form__input">
                                    <p>Фамилия*</p>
                                    <input type="text" name="test[]" required="required" value="">
                                </div>
                            </div>
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Компания*</p>
                                    <input type="text" name="test[]" required="required" value="">
                                </div>
                                <div class="form__input">
                                    <p>Должность</p>
                                    <input type="text" name="test[]" required="required" value="">
                                </div>
                            </div>
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Телефон*</p>
                                    <input type="text" name="test[]" required="required" value="">
                                </div>
                                <div class="form__input">
                                    <p>Email</p>
                                    <input type="email" name="test[]" required="required" value="">
                                </div>
                            </div>
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Поле для сообщения</p>
                                    <textarea name="test[]"></textarea>
                                </div>

                            </div>
                            <div class="form-vis__row popup__butt">
                                <div class="form__input">
                                    <button type="submit" class="btn btn--fill"><span>Стать партнером</span></button>
                                </div>

                            </div>
                        </form>
                        <div class="form-vis__info">
                            <p>Нажимая «Отправить», я соглашаюсь с обработкой персональных данных в соответствии с ФЗ «О персональных данных» № 152-ФЗ</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>