//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>Продукция</h4>
                </div>
            </div>
        </div>
        //= partials/slider.html
        <div class="mbox">
            <div class="thin-content">
                <div class="format">
                    <p>Завод «Аэроблок» производит стеновые блоки из ячеистого бетона в Калининграде с соблюдением всех российских стандартов. Наша продукция безопасна для людей, сельскохозяйственных и домашних животных, а также окружающей среды. Благодаря этим особенностям материалы могут использоваться в строительстве:</p>
                    <ul>
                        <li>• промышленных зданий и сооружений;</li>
                        <li>• индивидуальных и многоэтажных жилых домов;</li>
                        <li>• офисных, торговых и других коммерческих зданий.</li>
                    </ul>
                    <p>
                        В малоэтажном строительстве (до 3 этажей) газобетон может использоваться для несущих элементов. В этом случае прочность конструкции увеличивается за счет армирования. В монолитных сооружениях газобетонными блоками заполняются наружные стены и внутренние перегородки. Для материала характерны следующие теплофизические и физико-механические свойства:
                    </p>
                    <div class="format__table format__table--with-seconnd-title">
                        <table>
                            <tr>
                                <th colspan="3">Размеры блока, мм</th>
                                <th colspan="1">Объем блока, м³</th>
                                <th colspan="1">Блоков на паллете, шт</th>
                                <th colspan="1">Кол-во м³ на паллете</th>
                                <th colspan="3">Транспортный вес паллеты с блоками, кг</th>
                                <th colspan="1">Цена за 1 шт, руб</th>
                                <th colspan="1">Цена за  1 м³, руб</th>
                            </tr>
                            <tr>
                                <td>Д</td>
                                <td>В</td>
                                <td>Ш</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>D400</td>
                                <td>D500</td>
                                <td>D600</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>600</td>
                                <td>250</td>
                                <td>240</td>
                                <td>0,036</td>
                                <td>48</td>
                                <td>1,73</td>
                                <td>795,8</td>
                                <td>994,75</td>
                                <td>1193,7</td>
                                <td>0,036</td>
                                <td>0,036</td>
                            </tr>
                            <tr>
                                <td>600</td>
                                <td>250</td>
                                <td>240</td>
                                <td>0,036</td>
                                <td>48</td>
                                <td>1,73</td>
                                <td>795,8</td>
                                <td>994,75</td>
                                <td>1193,7</td>
                                <td>0,036</td>
                                <td>0,036</td>
                            </tr>
                            <tr>
                                <td>600</td>
                                <td>250</td>
                                <td>240</td>
                                <td>0,036</td>
                                <td>48</td>
                                <td>1,73</td>
                                <td>795,8</td>
                                <td>994,75</td>
                                <td>1193,7</td>
                                <td>0,036</td>
                                <td>0,036</td>
                            </tr>
                            <tr>
                                <td>600</td>
                                <td>250</td>
                                <td>240</td>
                                <td>0,036</td>
                                <td>48</td>
                                <td>1,73</td>
                                <td>795,8</td>
                                <td>994,75</td>
                                <td>1193,7</td>
                                <td>0,036</td>
                                <td>0,036</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <section class="form-vis">
            <div class="mbox">
                <div class="thin-content">
                    <div class="form-vis__wrap">
                        <div class="form-vis__title">
                            <h6 class="orange">Свяжитесь с нами</h6>
                        </div>
                        <form class="form-vis__content">
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Имя*</p>
                                    <input type="text" name="name" required="required" value="">
                                </div>
                                <div class="form__input">
                                    <p>Телефон*</p>
                                    <input type="text" name="mail" required="required" value="">
                                </div>
                            </div>
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Поле для сообщения</p>
                                    <textarea name="comment"></textarea>
                                </div>

                            </div>
                            <div class="form-vis__row popup__butt">
                                <div class="form__input">
                                    <button type="submit" class="btn btn--fill"><span>Отправить</span></button>
                                </div>

                            </div>
                        </form>
                        <div class="form-vis__info">
                            <p>Нажимая «Отправить», я соглашаюсь с обработкой персональных данных в соответствии с ФЗ «О персональных данных» № 152-ФЗ</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>