//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
       <div class="mbox">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>Продукция</h4>
                </div>
                <div class="productlist">
                    <p>Качественные строительные материалы в Калининграде поставляются напрямую с заводов предприятия «Аэроблок» - современного производителя газосиликатных блоков и других кладочных материалов. Среди представленного ассортимента товаров вы также найдете перегородочные, стеновые блоки и такие вспомогательные инструменты для их кладки, как сварная кладочная сетка, кельма, штроборез и многое другое.</p>
                    <div class="productlist__content">
                        <a href="#" class="productlist__item">
                            <div class="productlist__img">
                                <img src="images/demo/d3.jpg" alt="" class="shadow" data-object-fit="cover">
                            </div>
                            <div class="productlist__txt">
                                <b>Блоки стеновые</b>
                            </div>
                        </a>
                        <a href="#" class="productlist__item">
                            <div class="productlist__img">
                                <img src="images/demo/d4.jpg" alt="" class="shadow" data-object-fit="cover">
                            </div>
                            <div class="productlist__txt">
                                <b>Блоки стеновые</b>
                            </div>
                        </a>
                        <a href="#" class="productlist__item">
                            <div class="productlist__img">
                                <img src="images/demo/d5.jpg" alt="" class="shadow" data-object-fit="cover">
                            </div>
                            <div class="productlist__txt">
                                <b>Блоки стеновые</b>
                            </div>
                        </a>
                        <a href="#" class="productlist__item">
                            <div class="productlist__img">
                                <img src="images/demo/d6.jpg" alt="" class="shadow" data-object-fit="cover">
                            </div>
                            <div class="productlist__txt">
                                <b>Блоки стеновые</b>
                            </div>
                        </a>
                        <a href="#" class="productlist__item">
                            <div class="productlist__img">
                                <img src="images/demo/d7.jpg" alt="" class="shadow" data-object-fit="cover">
                            </div>
                            <div class="productlist__txt">
                                <b>Блоки стеновые</b>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
       </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>