//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox blogpost__pb">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>«Альбион»</h4>
                </div>
                <div class="blogpost">
                    <div class="blogpost__post">
                        <p>Двухэтажный жилой дом, из газобетонных блоков AeroStone®, общей площадью 185,21 м2.</p>
                        <div class="blogpost__img">
                            <img src="http://via.placeholder.com/780x459" alt="" class="shadow--big">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //= partials/slider.html
        <div class="mbox blogpost__pt">
            <div class="thin-content">
                <div class="blogpost__post">
                    <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                    <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                    <p>Аэроблок сразу задал самую высокую планку для всех производителей отечественных стеновых блоков. Завод на практике реализует программу импортозамещения и уже сегодня способен полностью покрыть потребности строек региона в газобетонных блоках. Мощности производства хватает для выпуска 300 тыс. м³ блоков в год, а за один день из автоклавов выходит до 800-1000 кубометров. Такие высокие темпы связаны, во-первых, с растущей популярностью этого стенового материала. А во-вторых и в главных, – с непревзойденным качеством газобетонного блока, который здесь производится.</p>
                    <p>Газобетонные изделия предприятия реализуются на рынке под брендом AeroBLOK.</p>
                    <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения.</p>
                    <p>Завод начал работу в августе 2014 года.  Представляет собой современное, полностью автоматизированное производство, оснащенное высокотехнологичным немецким оборудованием «Wehrhahn».</p>
                    <p>Аэроблок сразу задал самую высокую планку для всех производителей отечественных стеновых блоков. Завод на практике реализует программу импортозамещения и уже сегодня способен полностью покрыть потребности строек региона в газобетонных блоках. Мощности производства хватает для выпуска 300 тыс. м³ блоков в год, а за один день из автоклавов выходит до 800-1000 кубометров. Такие высокие темпы связаны, во-первых, с растущей популярностью этого стенового материала. А во-вторых и в главных, – с непревзойденным качеством газобетонного блока, который здесь производится.</p>
                    <p>Газобетонные изделия предприятия реализуются на рынке под брендом AeroBLOK.</p>
                    <a href="#" class="pdf-link">
                        <h6 class="orange">Скачать документацию по проекту</h6>
                        <i>
                            <svg width="52" height="64">
                                <use xlink:href="#pdf"></use>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <section class="form-vis">
            <div class="mbox">
                <div class="thin-content">
                    <div class="form-vis__wrap">
                        <div class="form-vis__title">
                            <h6 class="orange">Заявка на стройматериалы для строительства данного проекта</h6>
                        </div>
                        <form class="form-vis__content">
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Имя*</p>
                                    <input type="text" name="name" required="required" value="">
                                </div>
                                <div class="form__input">
                                    <p>Телефон*</p>
                                    <input type="text" name="mail" required="required" value="">
                                </div>
                            </div>
                            <div class="form-vis__row">
                                <div class="form__input">
                                    <p>Поле для сообщения</p>
                                    <textarea name="comment"></textarea>
                                </div>

                            </div>
                            <div class="form-vis__row popup__butt">
                                <div class="form__input">
                                    <button type="submit" class="btn btn--fill"><span>Отправить</span></button>
                                </div>

                            </div>
                        </form>
                        <div class="form-vis__info">
                            <p>Нажимая «Отправить», я соглашаюсь с обработкой персональных данных в соответствии с ФЗ «О персональных данных» № 152-ФЗ</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>