//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="thin-content">
                //= partials/bread.html
                <div class="title">
                    <h4>Реализованные проекты</h4>
                </div>
                <div class="blog">
                    <div class="blog__item blog__item--big">
                        <img src="images/demo/d13.jpg" alt="" class="shadow--big">
                        <h6>«Альбион»</h6>
                        <p>АэроБЛОК» - крупнейшее предприятие по производству газобетона в Северо-Западном регионе, выпускающее газобетонные блоки автоклавного твердения. </p>

                    </div>
                    <div class="blog__content">
                        <div class="blog__row">
                            <a href="#" class="blog__item">
                                <div class="blog__img">
                                    <img src="images/demo/d15.jpg" alt="" class="shadow">
                                </div>
                                <span class="blog__date">07/20/2018</span>
                                <h6>«Альбион»</h6>
                                <p>В случае возникновения подозрений на мошеннические действия, не производите оплату на месте, убедитесь, что перекупщик работает с заводом, связавшись со специалистами компании по телефону или электронной почте.</p>
                            </a>
                            <a href="#" class="blog__item">
                                <div class="blog__img">
                                    <img src="images/demo/d15.jpg" alt="" class="shadow">
                                </div>
                                <span class="blog__date">07/20/2018</span>
                                <h6>«Альбион»</h6>
                                <p>В случае возникновения подозрений на мошеннические действия, не производите оплату на месте, убедитесь, что перекупщик работает с заводом, связавшись со специалистами компании по телефону или электронной почте.</p>
                            </a>
                        </div>
                        <div class="blog__row">
                            <a href="#" class="blog__item">
                                <div class="blog__img">
                                    <img src="images/demo/d14.jpg" alt="" class="shadow">
                                </div>
                                <span class="blog__date">07/20/2018</span>
                                <h6>«Альбион»</h6>
                                <p>В случае возникновения подозрений на мошеннические действия, не производите оплату на месте, убедитесь, что перекупщик работает с заводом, связавшись со специалистами компании по телефону или электронной почте.</p>
                            </a>
                            <a href="#" class="blog__item">
                                <div class="blog__img">
                                    <img src="images/demo/d14.jpg" alt="" class="shadow">
                                </div>
                                <span class="blog__date">07/20/2018</span>
                                <h6>«Альбион»</h6>
                                <p>В случае возникновения подозрений на мошеннические действия, не производите оплату на месте, убедитесь, что перекупщик работает с заводом, связавшись со специалистами компании по телефону или электронной почте.</p>
                            </a>
                        </div>
                        <div class="blog__row">
                            <a href="#" class="blog__item">
                                <div class="blog__img">
                                    <img src="images/demo/d13.jpg" alt="" class="shadow">
                                </div>
                                <span class="blog__date">07/20/2018</span>
                                <h6>«Альбион»</h6>
                                <p>В случае возникновения подозрений на мошеннические действия, не производите оплату на месте, убедитесь, что перекупщик работает с заводом, связавшись со специалистами компании по телефону или электронной почте.</p>
                            </a>
                            <a href="#" class="blog__item">
                                <div class="blog__img">
                                    <img src="images/demo/d13.jpg" alt="" class="shadow">
                                </div>
                                <span class="blog__date">07/20/2018</span>
                                <h6>«Альбион»</h6>
                                <p>В случае возникновения подозрений на мошеннические действия, не производите оплату на месте, убедитесь, что перекупщик работает с заводом, связавшись со специалистами компании по телефону или электронной почте.</p>
                            </a>
                        </div>
                        <ul class="paginator">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="active"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">→</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>